body {
 text-align: center;
 background-color: black;
 color: white;
}
.inp{
outline: none;
background-color: transparent;
height: 10vh;
width: 80%;
border-radius: 20px;
border: 1px solid white;
color: white;
font-size: 3vh;
}
.btn{
height: 30px;
width: 70px;
border-radius: 20px;
border: 1px solid white;
background-color: transparent;
color: white;
outline: none;
}
a {
 border: 1px solid white;
 padding: 10px;
 background-color: transparent;
 color: white;
 text-decoration: none;
 border-radius: 20px;
 font-style: 4vh;a:hover {
 background-color: #222;
 color: white;
}
a:hover {
 background-color: #222;
 color: white;
}
h1 {
 font-size: 10vh;
}
